body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* CUSTOM MILLIE GAME CSS */

/* SIDEBAR LAYOUT */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


/* OTHERS */
body {
  font-family: 'Josefin Slab', serif;
  background: #efefef;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Vast Shadow', cursive;
}

.millie-header h1 {
  font-family: 'Vast Shadow', cursive;
  text-transform: uppercase;
  margin: 10px 0px;
  padding: 0;
  text-align: center;
}

.millie-header h1 span {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 50%;
  
}

.millie-header {
  height: 60px;
  z-index: 100;
  background-color: #d4c56d;
  border: 0;
  border-radius: 0;
  color: #fff;
}

.millie-header a {
  color: #fff !Important;
}

#menu-toggle,
.millie-header a.dropdown-toggle,
.millie-header .reset a {
    display: block;
    width: 250px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    padding-top: 16px;
}


#sidebar-wrapper {
  margin-top: 10px;
  color: #fff;
  background:#333 ;
}

#page-content-wrapper {
  padding-top: 35px !important;
  
}

.sidebar-stat {
    display: block;
    font-size: 20px;
    padding: 10px;
    background-color: #000;
    margin: 2px 0px;
}

/* room navigation buttons */

.room-nav {
  font-family: 'Vast Shadow', cursive;
  display: block;
  background: #999;
  text-align: center;
  padding: 5px;
  color: #fff;
}

.room-nav a {
  display: block;
  padding: 20px 10px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 19px;
}

.dropdown-menu > li > a {
    color: #333333 !important;
}


.room-nav.barcar {
  background: #e2323b;
}

.room-nav.tattooparlor {
  background: #eeaf7d;
}

.room-nav.maintent {
  background: #503722;
}

/* story */

.story-content {
  display: block;
  background: #fff;
  padding: 20px;
  margin-top: 25px;
  font-size: 20px;
}

/* sidebar */

.sidebar-photo {
  width: 250px;
  height: 200px;
  background-image: url(../Content/images/millie-00.png);
  border-top: 0px #000 solid;
  position: relative;
  top: 0;
  left: 0;
}

.portrait-layers {
    position: absolute;
    top: 0;
    left: 0;
}

/* main menu, mobile */

.navbar-default .navbar-toggle {
    border-color: #fff;
    margin-top: 12px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.nav .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        .room-nav {
          padding: 5px;
          margin-bottom: 5px;
        }

        .room-nav a {
          padding: 5px;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        #menu-toggle, .millie-header a.dropdown-toggle {
            width: 130px;
            font-size: 15px;
        }
        .millie-header h1 {
            font-size: 25px;
            margin-top: 16px;
        }

        #menu-toggle, .millie-header a.dropdown-toggle {
            width: 70px;
            font-size: 15px;
            padding-top: 11px;
        }

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }