@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome!</h1>

<p>You get a love letter from a secret admirer. They want to meet you that night at the top of the trapeze. You have several hours to kill time, so go visit some people.</p>