/* 
red #e2323b
tan #eeaf7d
brown #503722
grey #1f1f1f

font-family: 'Vast Shadow', cursive;
font-family: 'Oswald', sans-serif; 300, 400, 700
font-family: 'Josefin Slab', serif; 300, 400, 700
*/

body {
  font-family: 'Josefin Slab', serif;
  background: #efefef;
}

.millie-header h1 {
  font-family: 'Vast Shadow', cursive;
  text-transform: uppercase;
  margin: 10px 0px;
  padding: 0;
  text-align: center;
}

.millie-header h1 span {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 50%;
  
}

.millie-header {
  height: 60px;
  z-index: 100;
  background-color: #d4c56d;
  border: 0;
  border-radius: 0;
  color: #fff;
}

.millie-header a {
  color: #fff !Important;
}

#menu-toggle {
  display: block;
  background: #efefef;
  margin: 0;
  padding: 0;
  position: relative;
  left: -15px;
  width: 250px;
  height: 60px;
}

/* sidebar */


#sidebar-wrapper {
  margin-top: 60px;
  background-color: #333;
}

#page-content-wrapper {
  padding-top: 80px !important;
  
}

.statbox {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  background-color: #000;
  padding: 10px;
  margin: 2px 0px;
  text-transform: uppercase;
}

.statbox h4 {
  font-size: 15px;
}

.statbox p,
.statbox ul li {
  font-size: 35px;
}

/* room navigation buttons */

.room-nav {
  font-family: 'Vast Shadow', cursive;
  display: block;
  background: #999;
  text-align: center;
  padding: 20px;
  color: #fff;
  height: 60px;
}

.room-nav::after {
  content: '';
  position: absolute;
  left: 9%;
  top: 10%;
  right: 9%;
  bottom: 10%;
  border: 1px solid #fff;
}

.room-nav::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 30px;
  background: #fff;
  left: 50%;
  right: 50%;
  top: 60px; 
}

.room-nav.barcar {
  background: #e2323b;
}

.room-nav.tattooparlor {
  background: #eeaf7d;
}

.room-nav.maintent {
  background: #503722;
}

/* story */

.story-content {
  display: block;
  background: #fff;
  padding: 20px;
  margin-top: 25px;
  
}

/* sidebar */

.sidebar-photo {
  
  width: 250px;
  height: 200px;
  /*background-image: url(../img/beardedlady.png);*/
  border-top: 0px #000 solid;
}